<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--进行验证registrars方式-->
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="propertyEditorRegistrars">
            <list>
                <ref bean="customPropertyEditorRegistrar"/>
            </list>
        </property>
    </bean>

    <bean id="customPropertyEditorRegistrar" class="com.ylisoftware.beanWrapper.CustomPropertyEditorRegistrar"/>
    <bean id="dependsOnExoticType" class="com.ylisoftware.beanWrapper.DependsOnExoticType">
        <!--通过editor进行把对象重新给映射了-->
        <property name="exoticType"  value="2131231"/>
    </bean>
</beans>